.work_ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  margin-bottom: 60px;
}

@media screen and (max-width: 780px) {
  .work_ttl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .work_ttl {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 780px) {
  .work_ttl .spd {
    display: none;
  }
}

.work_section {
  margin-top: 100px;
}

@media screen and (max-width: 500px) {
  .work_section {
    margin-top: 100px;
  }
}

.work_section .pbtn {
  padding: 0 8em;
  line-height: 4;
  border: 1px solid #9ca1ad;
  display: table;
  margin: 0px auto 0;
}

@media screen and (max-width: 500px) {
  .work_section .pbtn {
    padding: 0 4em;
    line-height: 3;
    margin: 20px auto 0;
  }
}

.work_section .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.voice_section {
  margin-top: 100px;
}

@media screen and (max-width: 500px) {
  .voice_section {
    margin-top: 100px;
  }
}

.voice_section .voice_desc {
  font-size: 16px;
  margin-top: 16px;
  letter-spacing: 0.075em;
  line-height: 1.4;
}

.voice_section .voice_wrap {
  margin-top: 32px;
}

.voice_section .voice_wrap .voice_wrap_item {
  margin-bottom: 32px;
  -webkit-box-shadow: 0 10px 25px 0 rgba(60, 194, 235, 0.5);
          box-shadow: 0 10px 25px 0 rgba(60, 194, 235, 0.5);
}

@media screen and (max-width: 500px) {
  .voice_section .voice_wrap .voice_wrap_item {
    margin-bottom: 16px;
  }
}

.voice_section .voice_wrap .voice_wrap_item img {
  width: 100%;
}

.about_page {
  margin-top: 100px;
}

.about_page .profile {
  margin-top: 160px;
}

@media screen and (max-width: 500px) {
  .about_page .profile {
    margin-top: 100px;
  }
}

.about_page .profile .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 780px) {
  .about_page .profile .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .about_page .profile .flex {
    margin-top: 40px;
    margin-top: 40px;
  }
}

.about_page .profile .flex .imgarea {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 40px;
  -webkit-box-shadow: 0 10px 25px 0 rgba(60, 194, 235, 0.5);
          box-shadow: 0 10px 25px 0 rgba(60, 194, 235, 0.5);
}

@media screen and (max-width: 780px) {
  .about_page .profile .flex .imgarea {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0;
    margin-bottom: 40px;
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .about_page .profile .flex .imgarea {
    width: 100%;
  }
}

.about_page .profile .flex .imgarea img {
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.about_page .profile .flex .textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about_page .profile .flex .textarea h2 {
  font-size: 32px;
  margin-bottom: 24px;
}

@media screen and (max-width: 500px) {
  .about_page .profile .flex .textarea h2 {
    font-size: 24px;
  }
}

.about_page .profile .flex .textarea .desc {
  line-height: 1.8;
}

.about_page .profile .flex .textarea .sns {
  margin-top: 24px;
}

.about_page .profile .flex .textarea .sns a {
  margin-right: 30px;
  text-decoration: underline;
}
/*# sourceMappingURL=Home.module.css.map */