.grid{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(260px, 1fr));
    gap: 60px 30px;
    margin-top: 60px;
    .item{
        padding: 20px;

        @media screen and (max-width:500px) { 
            padding: 0px;
        }
        .item_img{
            width: 55%;
            text-align: center;
            margin: auto;
            img{
                width: 100%;
            }
        }
        .item_ttl{
            text-align: center;
            font-size: 24px;
            margin-top: 24px;
        }
        .item_desc{
            margin-top: 24px;
            line-height: 1.6;
        }
    }
}

.serv_sec{
    margin-top: 100px;
}