.bg{
    background-color: #fff;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 30px;

    padding:84px 80px 80px;
    @media screen and (max-width:780px) { 
        padding:40px 20px;
    }
}

.mgt{
    margin-top: 100px;
}
.desc{
    margin-top: 70px;
    line-height: 1.6;
    font-weight: 600;
    a{
        color: rgb(47, 137, 255);
        text-decoration: underline;
        font-size: 20px;
    }
}

.inputGroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    @media screen and (max-width:780px) { 
        flex-direction: column;
        align-items: flex-start;
    }
    .inputField{
        flex: 2;
        height: 60px;
        background-color: #fafafa;
        border-radius: 10px;
        padding: 1em;
        border: 2px solid #fafafa;
        transition: border .2s;
        &:focus{
            outline: solid 3px #0B2E63;
        }
        @media screen and (max-width:780px) { 
           width: 100%;
           margin-top: 20px;
        }
    }
    .inputArea{
        flex: 2;
        min-height: 200px;
        background-color: #fafafa;
        border-radius: 10px;
        padding: 1em;
        border: 2px solid #fafafa;
        transition: border .2s;
        &:focus{
            outline: solid 3px #0B2E63;
        }
        @media screen and (max-width:780px) { 
            width: 100%;
            margin-top: 20px;
         }
    }
    label{
        flex: 1;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.4;
    }

}

.submit{
    display: block;
    line-height: 60px;
    width:500px;
    text-align: center;
    background-color:#0B2E63;
    border-radius: 999px;
    color: #fff;
    border: solid 2px #0B2E63;
    font-family: futura-pt, sans-serif;
    letter-spacing: 0.075em;
    font-weight: 500;
    font-size: 24px;
    

    margin: 0 auto;
    margin-top: 60px;

    transition: 0.5s;
    &:hover{
       color:#0B2E63;
       background-color: #fff;
       cursor: pointer;
       
    }
    @media screen and (max-width:780px) { 
        width:200px;
        line-height: 45px;
        font-size: 20px;
     }
     @media screen and (max-width:500px) { 
        width:140px;
        line-height: 45px;
        font-size: 18px;
     }

     &:disabled{
         opacity: 0.4;
         &:hover{
             background-color: #0B2E63;
             color: #fff;
         }
     }
}