@import url("https://use.typekit.net/daq0bze.css");
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body{
  padding-top: 80px;
  color:#191919;
  font-family: futura-pt, sans-serif;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  background-color: #191b1c;
  color:#9ca1ad;
}

.wrapper{
  width: 100%;
  max-width: 1000px;
  margin:  0 auto;
}
section{
  box-sizing: border-box;
  padding: 0 20px;
}




table {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  margin-top: 40px;
  min-width: 600px;
  box-shadow: 0 10px 25px 0 rgba(60, 194, 235, 0.5);
}

table th,
table td {
  padding: 2em 1em;
  border: 1px solid #9ca1ad;

  text-shadow: rgba(60, 194, 235, 0.6) 1px 0 10px;
  color: #fff;
  letter-spacing: 0.05em;
}
table thead th {
    font-size: .85em;
    padding: 1em;
    text-align: left;
    
    &:last-child{
      text-align: right;
    }
}
table thead tr{
  border: 1px solid #9ca1ad;
}
table tbody th {
  text-align: left;
  font-size: .8em;
  line-height: 1.4;
}
.txt{
   text-align: left;
   font-size: .8em;
}
.price{
  text-align: right;
  font-weight: bold;
}

.ovf{
  overflow-x: scroll;
  margin: auto;
}

// pagenation
.pagenation{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  li{
    font-size: 24px;
    text-decoration: underline;
  }
}