.pbtn{
    display: block;
     text-align: center;
     background-color:#0B2E63;
     border-radius: 20px;
     color: #fff;
     border: solid 2px #0B2E63;
     font-family: futura-pt, sans-serif;
     letter-spacing: 0.075em;
     font-weight: 500;
     transition: 0.5s;

     line-height: 160px;
     width:500px;
     font-size: 40px;

     margin: 0 auto;


     &:hover{
        color:#0B2E63;
        background-color: #fff;
     }
     @media screen and (max-width:780px) { 
         width:300px;
         line-height: 120px;
         font-size: 30px;

      }
      @media screen and (max-width:500px) { 
         width:200px;
         line-height: 80px;
         font-size: 18px;
      }
 }